1 ICON DISCARDABLE "cocogoat.ico"
1 VERSIONINFO
FILEVERSION 1,1,1,0
PRODUCTVERSION 1,1,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
        VALUE "CompanyName",      "YuehaiTeam"
        VALUE "FileDescription",  "Cocogoat WebControl"
        VALUE "FileVersion",      "1.1.1.0"
    END
    BLOCK "080404E4"
    BEGIN
        VALUE "CompanyName",      "ÔÂº£Í¤ YuehaiTeam"
        VALUE "FileDescription",  "Ò¬Ñò¡¤¸¨Öú²å¼þ"
        VALUE "FileVersion",      "1.1.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1252
    VALUE "Translation", 0x0409, 1252
  END
END