1 ICON DISCARDABLE "cocogoat.ico"
1 VERSIONINFO
FILEVERSION 1,2,6,0
PRODUCTVERSION 1,2,6,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
        VALUE "CompanyName",      "YuehaiTeam"
        VALUE "FileDescription",  "cocogoat Frostflake Plugin"
        VALUE "FileVersion",      "1.2.6.0"
    END
    BLOCK "080404E4"
    BEGIN
        VALUE "CompanyName",      "月海亭 YuehaiTeam"
        VALUE "FileDescription",  "椰羊·霜华插件"
        VALUE "FileVersion",      "1.2.6.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1252
    VALUE "Translation", 0x0409, 1252
  END
END
209 MENU
BEGIN
    POPUP ""
	BEGIN
	MENUITEM "退出 (E&xit)", 124
	END
END